body {
    margin: 0 0 50 px;
    font-family: 'Roboto', sans-serif;
    color: #0a0808;
    height: 100%;
}

footer {
    background: blue;
    padding:20px 25px; /*Alto y ancho */
    font-size: 18px; /*Tamaño de la letra*/
    color: white;
    font-weight: 800; /*Aumenta el grosor de las letrar*/
    letter-spacing: 5px; /*Realiza espacio entre lineas*/
    text-transform: uppercase; /*Tranforma las letras en mayusculas*/
    position: fixed;
    bottom: 0; /*De esta forma pone los elementos al  final de la pagina*/
    width: 100%;
    box-sizing: border-box;
}

header {
    background:darkslateblue;
    padding:25px; /*Se agrega a todos lados*/
    border-radius: 0 0 15px 15px; /* redondea los puntos */
    color: white;
    font-weight:800;
    font-size: 40px;
}

.content{
    padding: 30px 25px;
    font-weight:300;
    font-size: 18px;
}

p{
    line-height: 1.5; /*Sangria */ 
}

img{
    border-radius: 15px;
    width: 100%;
   
}

figcaption{
    padding: 15px 0;
}

video{
    width: 100%;
    border-radius: 15px;
}