body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 20px;
}

header{
    background: pink;
    padding: 25px;
    border-radius: 0 0 15px 15px;
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
}

footer{
    text-align: center;
    color: white;
    background:black;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.text{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
}

p{
    line-height: 2;
    max-width: 500px;
}

@media print {

    header{
        background: pink;
        color: pink;
    }

    footer{
        background: pink;
        color: pink;
    }

    img{
        width:25%;
        border: 3px solid pink;
    }
}

@media screen and (max-width: 500px){
    header{
        background: darkred;
        text-align:right;
    }
}
@media screen and (min-width: 501px) and (max-width:1024px) {
    header{
        background: darkblue;
        text-align: center;
    }
    
}