body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 200vh;
    padding: 100px 0;
    overflow-x: hidden;
}

header,
footer{
    padding: 15px;
    font-weight: 900;
    color:white;
    width: 100%;
}

header{
    background-color: darkslateblue;
}

footer{
    background-color: darkblue;
}

.container{
    background-color: darkmagenta;
    height: 30%;
    margin: 10%;
}

.box{
    background-color: orange;
    width: 150px;
    height:150px;
    padding: 25px;
    color: white;
}

.sticky{
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid  #4CAf50;
}

.left,
.right{
    width: 75px;
    height: 75px;
}

.left{
    background-color: darkslategray;
}

.right{
    background-color: darkturquoise;
}

